POSTGRES_DB=nexus_penguim # Nome do banco de dados 
POSTGRES_USER=nexus_penguim # Nome do usuário do banco de dados
POSTGRES_PASSWORD= # Adicionar a senha do banco de dados

DATABASE_URL=postgresql://nexus_penguim:<senha>@localhost:5432/nexus_penguim
